@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


/*         PADRÕES DO PROJETO        */
:root {
    --fonte-principal: "Baloo Da 2", sans-serif;
    --fonte-padrao: "Open Sans", sans-serif;
    --fonte-cinza: #202020;
    --fonte-lilas: #854fee;
    --background-gelo: #f8f9fc;
    --background-gradient: linear-gradient(to right, #4458dc, #854fee);
}

h2 {
    font-family: var(--fonte-principal);
    color: var(--fonte-cinza);
    font-size: 2.5rem;
}

hr {
    width: 120px;
    height: 5px;
    border: none;
    border-radius: 4px;
    background-color: var(--fonte-lilas);
    margin: auto;
}

/*         PRELOADER        */

.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-image: var(--background-gradient);
    display: flex;
    z-index: 99999;
}

.spinner {
    width: 85px;
    height: 85px;
    display: block;
    border: 7px solid #fff;
    border-radius: 50%;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.5s infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}   

/*         MENU HAMBURGUER        */
.hamburguer {
    position: fixed;
    top: 6%;
    right: 3%;
    width: 35px;
    height: 22px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
}

.hamburguer .item {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: .2rem .2rem 2px var(--fonte-cinza);
}

.mostrar .hamburguer {
    right: 20%;
}

.mostrar #item1 {
    transform: translateY(5px) rotateZ(45deg);
    box-shadow: none;
    background-color: var(--fonte-lilas);
    transition: all 1s;
    height: 6px;
}

.mostrar #item2 {
    display: none;
}

.mostrar #item3 {
    transform: translateY(-11px) rotateZ(-45deg);
    box-shadow: none;
    background-color: var(--fonte-lilas);
    transition: all 1s;
    height: 6px;
}

/*         CABEÇALHO        */

.home {
    width: 100%;
    height: 100%;
}

.imagem-fundo {
    background: rgba(0, 0, 0, .9);
}

.imagem-fundo img {
    width: 100%;
    height: 100vh;
    opacity: .3;
    animation: zoom 2s forwards;
}

/*         BANNER CABEÇALHO        */

.banner {
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.banner h1 {
    font-family: var(--fonte-padrao);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 4px;
    line-height: 4rem;
    color: #fff;
    text-shadow: .2rem .2rem 2px var(--fonte-cinza);
    margin-bottom: 2rem;
    animation: mooveUp 2s .2s forwards;
    opacity: 0;
}

.banner span {
    color: var(--fonte-lilas);
}

.banner h2 {
    font-family: var(--fonte-padrao);
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 4rem;
    color: #fff;
    text-shadow: .2rem .2rem 2px var(--fonte-cinza);
    margin-bottom: 2rem;
}

.botao-banner {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.1rem 2rem;
    background: var(--background-gradient);
    font-family: var(--fonte-padrao);
    font-weight: 900;
    letter-spacing: 2px;
    box-shadow: .2rem .2rem 2px var(--fonte-cinza);
    border-radius: 4px;
    color: #fff;
    margin-bottom: 2rem;
}

.botao-banner:hover {
    color: var(--fonte-cinza);
}

/*         ANIMAÇÕES CABEÇALHO        */

@keyframes zoom {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes mooveUp {
    0% {
        transform: translateY(20rem);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

/*         MENU NAV        */

.menu {
    position: fixed;
    top: 0;
    z-index: 999;
    right: -25rem;
    width: 25%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.menu-item {
    text-align: center;
}

.menu li {
    list-style: none;
}

.menu-item a {
    font-family: var(--fonte-principal);
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--fonte-cinza);
    transition: all .3s;
}

.menu-item a:hover {
    color: var(--fonte-lilas);
}

.mostrar .menu {
    right: 0;
}